/* @media (max-width: 768px){
    .row{
        display: block;
    }
    .row .col{
        width: 100%;
        margin: 0 0 1rem 0;
    }
}

@media (max-width: 601px){
    aside{
        display: none;
    }
    main{
        width: 100%;
        margin: 0 auto;
        padding: 1.2rem 2.5rem;
    }
    header{
        margin-top: 8rem;
    }
    header h1{
        font-size: .3rem;
        line-height: 1.4rem;
    }
    header h5{
        font-size: .1rem;
        letter-spacing: .2rem;
    }
    .mobile-nav{
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }
    .mobile-nav a{
        width: 100%;
        color: #b2b2b2;
        text-transform: uppercase;
        font-size: .87rem;
        letter-spacing: .2rem;
        text-align: center;
        padding: 1rem 1rem;
        transition: all .35s;
    }
    .mobile-nav a:hover{
        background: #b2b2b2;
        color: #222;
    }
}
@media (min-width: 600px){
    .mobile-nav{
        display: none;
    }
} */
@media (min-width: 1199.98px) and (max-width: 1449.98px) {
  .media-icons {
    top: 12%;
  }
  .mine {
    height: 40%;
  }
}
@media (max-width: 1199.98px) {
  html {
    font-size: 58.5%;
  }
  .link-up .ico {
    font-size: 2rem;
  }
  .media-icons {
    top: 15%;
  }
  .media-icons ul li {
    padding: 0.8rem 0;
  }
  .mine {
    height: 45%;
  }
  .media img {
    width: 12%;
  }
}
@media (max-width: 991.98px) {
  html {
    font-size: 55.5%;
  }
  .media-icons {
    top: 10%;
  }
  .mine {
    height: 50%;
  }
  .link-up .ico {
    font-size: 1.8rem;
  }
  .media-icons ul li {
    padding: 0.5rem 0;
  }
  header h1 {
    font-size: 4rem;
  }
  header h5 {
    font-size: 1.8rem;
  }
  input[type="submit"],
  .cvbutton a {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.2rem;
  }
  .about h2,
  .folio h2,
  .gallery h2,
  .contact h2 {
    font-size: 2rem;
  }
  .about p,
  .folio p,
  .servicetext,
  label,
  .topic,
  .text-one {
    font-size: 1.4rem;
  }
  .media img {
    width: 15%;
  }
  .mine {
    height: 60%;
  }
}
@media (max-width: 767.98px) {
  html {
    font-size: 52.5%;
  }
  .mobile-nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 1;
  }
  .again-icons {
    display: block;
    margin-top: 5rem;
  }
  .again-icons a {
    text-decoration: none;
  }
  .again-icons .ico {
    font-size: 2rem;
  }
  aside,
  .media-icons {
    display: none;
  }
  .mobile-nav a {
    width: 100%;
    color: var(--bgcolor);
    background-color: var(--sidebar);
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    text-align: center;
    padding: 1rem;
    transition: all 0.2s;
    text-decoration: none;
    font-weight: 500;
  }
  .mobile-nav a:hover {
    color: var(--iconcolor);
    font-weight: 600;
  }
  main {
    max-width: 100%;
    margin-left: 0;
    padding-top: 4rem;
  }
  .mine,
  .about,
  .folio,
  .gallery,
  .contact,
  .footer {
    width: 100%;
    margin-left: 0;
    padding: 0rem 3rem;
  }
  .address-mine {
    display: none;
  }
}
@media (max-width: 575.98px) {
  html {
    font-size: 47.5%;
  }
  .again-icons {
    margin-top: 3rem;
  }
  .mine {
    height: 70%;
  }
  #toop {
    display: none;
  }
  .mine {
    position: relative;
    padding-top: 7rem;
  }
}
@media (max-width: 449.98px) {
  .mobile-nav {
    width: 100%;
    justify-content: center;
  }
  .mobile-nav a {
    font-size: 1.2rem;
    padding: 1rem 0.5rem;
  }
}
