/* @media (max-width: 768px){
    .row-halves{
        display: block;
    }
    .row-halves .col{
        width: 100%;
        margin: 0 0 1rem 0;
    }
}

@media (max-width: 601px){
    aside{
        display: none;
    }
    main{
        width: 100%;
        margin: 0 auto;
        padding: 1.2rem 2.5rem;
    }
    header{
        margin-top: 8rem;
    }
    header h1{
        font-size: .3rem;
        line-height: 1.4rem;
    }
    header h5{
        font-size: .1rem;
        letter-spacing: .2rem;
    }
    .mobile-nav{
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }
    .mobile-nav a{
        width: 100%;
        color: #b2b2b2;
        text-transform: uppercase;
        font-size: .87rem;
        letter-spacing: .2rem;
        text-align: center;
        padding: 1rem 1rem;
        transition: all .35s;
    }
    .mobile-nav a:hover{
        background: #b2b2b2;
        color: #222;
    }
}
@media (min-width: 600px){
    .mobile-nav{
        display: none;
    }
} */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .media-icons {
    top: 15%;
  }
  .mine {
    top: 25%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .media-icons {
    top: 18%;
  }
  .mine {
    top: 20%;
  }
  .media-icons i {
    font-size: 1.8rem;
    padding: 0.7rem 0;
  }
  header h1 {
    font-size: 4rem;
  }
  header h5 {
    font-size: 1.8rem;
  }
  input[type="submit"],
  .cvbutton a {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.2rem;
  }
  .about h2,
  .folio h2,
  .gallery h2,
  .contact h2 {
    font-size: 2rem;
  }
  .about p,
  .folio p,
  .servicetext,
  label,
  .topic,
  .text-one {
    font-size: 1.4rem;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
}
