/* ==================== */
/* Basic Setup */
/* ==================== */
:root {
  --bgcolor: #eeeeee;
  --iconcolor: #00adb5;
  --sidebar: #393e46;
  --fontcolor: #222831;
  --mainp: 1.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==================== */
/* Reuseable Components */
/* ==================== */

.row {
  max-width: 114rem;
  margin: 0 auto;
}
html {
  scroll-behavior: smooth;
}
*:focus {
  outline: none;
}
body {
  background: var(--bgcolor);
  font-family: "Courier New", Courier, monospace;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.home img {
  width: 70%;
  /* -webkit-filter: grayscale(100%) contrast(100%);
  filter: grayscale(100%) contrast(200%) brightness(60%); */
}
/* .folio img {
  filter: grayscale(100%);
} */
aside {
  position: fixed;
  background: var(--fontcolor);
  top: 0;
  left: 0;
  width: 15%;
  float: left;
  height: 100%;
  overflow: none;
  z-index: 1;
  text-align: center;
  padding: 0;
}
aside img {
  /* filter: grayscale(100%) contrast(70%) brightness(100%); */
  margin-bottom: -0.3rem;
}
.material-icons {
  font-size: 4rem;
}
aside a {
  display: block;
  padding: 1.5rem 0rem;
  color: var(--bgcolor);
  transition: all 0.3s;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
}
aside a:hover {
  background: var(--bgcolor);
  color: var(--fontcolor);
  text-decoration: none;
}
aside nav a:nth-child(2) {
  background: var(--sidebar);
}
aside nav a:nth-child(2):hover {
  background: var(--iconcolor);
  color: var(--bgcolor);
}
main {
  max-width: 90rem;
  /* background: #000; */
  margin-left: 20%;
  padding: 2rem 0rem;
}
header {
  text-align: center;
  letter-spacing: 0.2rem;
}
header h1 {
  font-weight: bold;
  font-size: 4.5rem;
  letter-spacing: 0.4rem;
  color: var(--fontcolor);
}
header h5 {
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.4rem;
  color: var(--fontcolor);
  margin-bottom: 3rem;
}
.mine {
  position: absolute;
  z-index: 100;
  text-align: center;
  top: 32%;
  bottom: 0;
  left: 15%;
  right: 0;
}
#toop {
  position: relative;
  /* width: 20em;
  height: 20em; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#toop:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  /* width: 20em;
  height: 20em; */
  background: rgba(238, 238, 238, 0.7);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
}

.topimg {
  /* object-fit: cover; */
}
.about,
.folio,
.contact,
.footer {
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  font-weight: 300;
  width: 80%;
  float: right;
  padding-right: 5rem;
}
.about h2,
.folio h2,
.contact h2 {
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 1rem;
  margin: 5rem 0rem 1rem 0rem;
  color: var(--fontcolor);
  display: inline-block;
  position: relative;
}

.about h2::after,
.folio h2::after,
.contact h2::after {
  content: "";
  height: 0.2rem;
  width: 50%;
  background-color: var(--iconcolor);
  position: absolute;
  left: calc(30% - 15%);
  bottom: 0.1rem;
}
.about p {
  color: var(--fontcolor);
  font-size: var(--mainp);
  margin-top: 1rem;
  text-align: justify;
}
.about span {
  font-weight: 900;
  color: var(--fontcolor);
}
.about h3 {
  font-weight: 300;
  margin: 5rem 0;
  color: var(--fontcolor);
}
.container {
  width: 100%;
  background-color: var(--fontcolor);
}

/* ---------Skills---------- */
.skills {
  text-align: right;
  padding-right: 2rem;
  line-height: 1.5rem;
  color: var(--bgcolor);
  background-color: var(--iconcolor);
  font-weight: 900;
}

.html {
  width: 90%;
}
.css {
  width: 85%;
}
.bootstrap {
  width: 80%;
}
.js {
  width: 65%;
}
.jquery {
  width: 60%;
}
.flutter {
  width: 65%;
}
.ui {
  width: 70%;
}
.piku {
  width: 100%;
  padding-top: 3rem;
}

/* ---------Services---------- */
.servicetext p {
  text-align: justify;
}
.folio h3 {
  color: var(--fontcolor);
  font-weight: 500;
  letter-spacing: 0.05rem;
  margin-top: 1.4rem;
  font-size: 1.8rem;
}
.folio p {
  margin-top: 0.8rem;
  font-size: var(--mainp);
}
.row-halves {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  -webkit-flex-pack: justify;
}
.row-halves .col {
  width: 49%;
}
.portpic {
  width: 100%;
  height: 80%;
}
.col {
  /* border: 0.1rem solid #222;
  background: #222; */
  color: var(--fontcolor);
  padding: 1rem;
}

/* ---------Contact---------- */
label {
  color: var(--fontcolor);
  font-size: var(--mainp);
}
form input[type="text"],
select,
textarea {
  width: 100%;
  padding: 1.2rem;
  border: none;
  border: 0.1rem solid var(--fontcolor);
  background: transparent;
  margin-top: 0.6rem;
  margin-bottom: 1.6rem;
  resize: vertical;
  color: var(--fontcolor);
}
form input[type="text"]:focus,
textarea:focus {
  outline: none;
  border: 0.1rem solid var(--iconcolor);
}
input[type="submit"],
.cvbutton {
  background-color: var(--fontcolor);
  color: var(--bgcolor);
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 1.2rem 2rem;
  border: 0.1rem solid var(--sidebar);
  cursor: pointer;
  transition: all 0.35s;
  font-weight: 600;
  letter-spacing: 0.2rem;
}
input[type="submit"]:hover,
.cvbutton:hover {
  background-color: var(--sidebar);
  color: var(--bgcolor);
}
.contact .container {
  margin-bottom: 2rem;
  background: transparent;
  padding: 2rem 0;
}
.address {
  margin-bottom: 2rem;
}
.topic {
  font-size: 1.6rem;
}
.details {
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
}
.details i {
  font-size: 1.8rem;
  margin-bottom: 0.7rem;
}

.mediapart {
  text-align: center;
}
.mediapart p {
  font-size: 1.2rem;
  font-weight: 300;
}
.address-mine {
  margin-left: 5rem;
  border-left: 2px solid var(--iconcolor);
  margin-top: 5rem;
}
.media-icons {
  margin-bottom: 2rem;
}
.media-icons a {
  /* width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: red; */
  text-align: center;
  padding: 0rem 0.3rem;
}
.media-icons i {
  color: var(--fontcolor);
  font-size: 2rem;
  justify-content: center;
}
.media-icons i:hover {
  color: var(--iconcolor);
  transition: all.3s;
}

/* ---------Footer---------- */

*/ .footer {
  text-align: center;
  padding: 2rem 0;
  color: var(--fontcolor);
}
.boottom-part {
  text-align: center;
}
