/* ==================== */
/* Basic Setup */
/* ==================== */
:root {
  --bgcolor: #eeeeee;
  --iconcolor: #00adb5;
  --sidebar: #393e46;
  --fontcolor: #222831;
  --mainp: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==================== */
/* Reuseable Components */
/* ==================== */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background: var(--bgcolor);
  font-family: "Courier New", Courier, monospace;
  overflow-x: hidden;
  line-height: 1.3;
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}
p {
  font-size: 1.4rem;
}
img {
  width: 100%;
}
ul li {
  list-style-type: none;
}
:focus {
  outline: 0;
}

/* ==================== */
/* Side bar start */
/* ==================== */
.home img {
  width: 70%;
}
aside {
  position: fixed;
  background: var(--fontcolor);
  top: 0;
  left: 0;
  width: 15%;
  float: left;
  height: 100%;
  overflow: none;
  z-index: 1;
  text-align: center;
  padding: 0;
}
aside img {
  /* filter: grayscale(100%) contrast(70%) brightness(100%); */
  margin-bottom: -0.3rem;
}
.material-icons {
  font-size: 4rem;
}
aside a {
  display: block;
  padding: 2rem 0rem;
  color: var(--bgcolor);
  transition: all 0.3s;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}
aside a:hover {
  background: var(--bgcolor);
  color: var(--fontcolor);
  text-decoration: none;
}
aside nav a:nth-child(2) {
  background: var(--sidebar);
}
aside nav a:nth-child(2):hover {
  background: var(--iconcolor);
  color: var(--bgcolor);
}

/* -- Icons start-- */
.media-icons {
  float: right;
  right: 3%;
  vertical-align: middle;
  position: absolute;
  top: 20%;

  z-index: 100;
}
.media-icons ul li a {
  text-transform: capitalize;
  text-decoration: none;
  text-align: right;
  display: block;
}
.media-icons ul li {
  padding: 1rem 0;
}
.media-icons ul li a .link-text {
  margin-right: 0.5rem;
}
.link-up .link-text {
  display: none;
  color: var(--bgcolor);
  background-color: var(--sidebar);
  width: 15rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 3px;
}

.link-up:hover .link-text {
  display: inline;
  transform: translateX(0);
}
.link-up .ico {
  font-size: 2.2rem;
  color: var(--fontcolor);
  text-align: right;
}
.link-up .ico:hover {
  color: var(--sidebar);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  display: inline;
}
/* -- Icons end-- */

/* ==================== */
/* Side bar end */
/* ==================== */

/* ==================== */
/* top header part start */
/* ==================== */
main {
  max-width: 79%;
  /* background: #000; */
  margin-left: 20%;
  padding: 2rem 0rem;
}
header {
  text-align: center;
  letter-spacing: 0.2rem;
}
header h1 {
  font-weight: bold;
  font-size: 5rem;
  letter-spacing: 0.4rem;
  color: var(--fontcolor);
}
header h5 {
  font-weight: 900;
  font-size: 2.2rem;
  letter-spacing: 0.4rem;
  color: var(--fontcolor);
  margin-bottom: 3rem;
}
.mine {
  position: absolute;
  z-index: 100;
  text-align: center;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 30%;
  margin-left: 20%;
}
.mobile-nav,
.again-icons {
  display: none;
}
#toop {
  position: relative;
  /* width: 20em;
  height: 20em; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#toop:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  /* width: 20em;
  height: 20em; */
  background: rgba(238, 238, 238, 0.7);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
}

/* ==================== */
/* top header part end */
/* ==================== */

.about,
.folio,
.contact,
.gallery,
.footer {
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  font-weight: 300;
  width: 80%;
  float: right;
  padding-right: 5rem;
  text-transform: capitalize;
}
.about h2,
.folio h2,
.gallery h2,
.contact h2 {
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 1rem;
  margin: 5rem 0rem 1rem 0rem;
  color: var(--fontcolor);
  display: inline-block;
  position: relative;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}

.about h2::after,
.folio h2::after,
.gallery h2::after,
.contact h2::after {
  content: "";
  height: 0.3rem;
  width: 50%;
  background-color: var(--iconcolor);
  position: absolute;
  left: calc(30% - 15%);
  bottom: 0.1rem;
}
.about p,
.servicetext,
label,
.topic,
.text-one {
  color: var(--fontcolor);
  font-size: var(--mainp);
  margin-top: 1rem;
  text-align: justify;
  letter-spacing: 0.1rem;
  line-height: 2.2rem;
}
.about span {
  font-weight: 900;
  color: var(--fontcolor);
}
.about h3 {
  font-weight: 300;
  margin: 5rem 0;
  color: var(--fontcolor);
}
.container {
  width: 100%;
  background-color: var(--fontcolor);
}

/* Skill bar start */

.skills-bar {
  border-radius: 1rem;
  padding: 2.5rem 0rem;
}

.skills-bar .bar {
  margin: 2rem 0rem;
}

.skills-bar .bar:first-child {
  margin-top: 0rem;
}

.skills-bar .bar .info {
  margin-bottom: 0.5rem;
}
.skills-bar .bar .info span {
  font-size: 1.7rem;
  font-weight: 500;
  opacity: 0;
  animation: showText 0.5s 1.5s linear forwards;
  text-transform: uppercase;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 1.2rem;
  width: 100%;
  background-color: var(--fontcolor);
  border-radius: 1rem;
  transform: scaleX(0);
  transform-origin: left;
  box-shadow: inset 0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.05),
    0px 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bar .progress-line span {
  height: 100%;
  width: 80%;
  background: var(--iconcolor);
  position: absolute;
  border-radius: 1rem;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line.html span {
  width: 90%;
}
.progress-line.css span {
  width: 85%;
}
.progress-line.bootstrap span {
  width: 80%;
}
.progress-line.javascript span {
  width: 70%;
}

.progress-line.jquery span {
  width: 65%;
}

.progress-line.flutter span {
  width: 60%;
}
.progress-line.ui span {
  width: 80%;
}
.progress-line.mysql span {
  width: 70%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  right: 0;
  top: -1rem;
  height: 0;
  width: 0;
  border: 0.7rem solid transparent;
  border-bottom-width: 0rem;
  border-right-width: 0rem;
  border-top-color: var(--fontcolor);
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -2.8rem;
  background: var(--fontcolor);
  color: var(--bgcolor);
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.1rem 0.8rem;
  border-radius: 0.3rem;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

.progress-line.html span::after {
  content: "90%";
}
.progress-line.css span::after {
  content: "85%";
}
.progress-line.bootstrap span::after {
  content: "80%";
}
.progress-line.javascript span::after {
  content: "70%";
}

.progress-line.jquery span::after {
  content: "65%";
}

.progress-line.flutter span::after {
  content: "60%";
}
.progress-line.ui span::after {
  content: "80%";
}
.progress-line.mysql span::after {
  content: "70%";
}
/* Skill bar end */

/* ==================== */
/* service start */
/* ==================== */
.service-row {
  margin: 3rem 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.service-row:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18), 0 5px 8px rgba(0, 0, 0, 0.22);
}
.servicetext {
  text-align: justify;
  padding: 1rem 2rem;
}

.folio h3 {
  color: var(--fontcolor);
  font-weight: 500;
  letter-spacing: 0.05rem;
  font-weight: 600;
  font-size: 1.8rem;
}
.folio p {
  margin-top: 0.8rem;
  font-size: var(--mainp);
}

.media img {
  width: 10%;
  padding: 2rem 1.5rem;
}

/* ==================== */
/* service end */
/* ==================== */

/* ==================== */
/* gallery start */
/* ==================== */
.imggallery {
  margin: 3rem 0;
}
.gallery {
  /* padding: 5rem 0; */
}

/* ==================== */
/* gallery end */
/* ==================== */

/* ==================== */
/* contact start */
/* ==================== */

label {
  color: var(--fontcolor);
  font-size: var(--mainp);
}
form input[type="text"],
select,
textarea {
  width: 100%;
  padding: 1.2rem;
  border: none;
  border: 0.1rem solid var(--fontcolor);
  background: transparent;
  margin-top: 0.6rem;
  margin-bottom: 1.6rem;
  resize: vertical;
  color: var(--fontcolor);
  border-radius: 0.3rem;
}
form input[type="text"]:focus,
textarea:focus {
  outline: none;
  border: 0.1rem solid var(--iconcolor);
}
input[type="submit"],
.cvbutton a {
  background-color: var(--fontcolor);
  color: var(--bgcolor);
  text-transform: uppercase;
  padding: 1rem 2rem;
  /* border: 0.1rem solid var(--sidebar); */
  cursor: pointer;
  transition: all 0.35s;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-decoration: none;
}
input[type="submit"]:hover,
.cvbutton a:hover {
  background-color: var(--sidebar);
  color: var(--bgcolor);
}
.cvbutton a:hover {
  padding: 1.2rem 3rem;
}
.contact .container {
  margin-bottom: 2rem;
  background: transparent;
  padding: 2rem 0;
}
.address {
  margin-bottom: 2rem;
}
.topic {
  font-size: var(--mainp);
  font-weight: 600;
  text-align: center;
}
.text-one {
  text-align: center;
}
.details {
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
}
.details i {
  font-size: 1.8rem;
  margin-bottom: 0.7rem;
}

.address-mine {
  margin-left: 5rem;
  border-left: 2px solid var(--iconcolor);
  margin-top: 5rem;
}

/* ==================== */
/* contact end */
/* ==================== */

.connect {
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  right: 0;
  position: absolute;
}

/* ==================== */
/* footer start */
/* ==================== */

*/ .footer {
  text-align: center;
  padding: 2rem 0;
  color: var(--fontcolor);
}
.boottom-part {
  text-align: center;
  margin: 5rem 0rem 1rem 0rem;
}

/* ==================== */
/* footer end */
/* ==================== */
/* Start Gallery CSS */
.thumb {
  margin-bottom: 15px;
}
.thumb:last-child {
  margin-bottom: 0;
}
/* CSS Image Hover Effects: https://www.nxworld.net/tips/css-image-hover-effects.html */
.thumb figure img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;

  z-index: 1;
  width: 100%;
  height: 200px;
  object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.thumb figure:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);

  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.thumb figure img {
}
.thumb figure img:hover {
}
